html, body{
    padding: 0;
    margin: 0;
}

#root{
    padding: 0;
    margin: 0;
}

.menu {
	list-style: none;
}

.menu_item {
    display: inline;
    padding : 1em;
}

table.results{
    width: 100%;
    border-collapse: collapse;
}

table.results td{
    padding:0; 
    margin:0;
    vertical-align: top;
    text-align: center;
    border:1px solid #CCC;
}

table.results th{
    background-color: #CCC;
    text-align: center;
    border:1px solid black;
}